
:root {
    --main: #b4d4da;
    --main2: #6b9197;
    --main3: #416268;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main);
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

p {
    line-height: 1.5em;
    font-size: 18px;
}

.my-pic {
    height: 150px;
    border-radius: 100px;
}

main {
    background-color: white;
    width: calc(100vw - 20px);
    max-width: 900px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

.blog-link {
    background-color: var(--main2);
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    position: relative;
    transition: ease 300ms;
    text-decoration: none;
    color: white;
    top: 0;
}

.blog-link * {
    margin: 0;
}

.blog-link:hover {
    cursor: pointer;
    top: 3px;
    background-color: var(--main3);
}

.blog-title {
    font-size: 30px;
}
